<div class="col-md-12">
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12" style="padding-top:14px;">
      Você está na: <a href="#/" class="link-unidade">Unid<span class="hidden-xs">ade</span> {{unidade}}</a> /
      <a class="link-unidade">{{atividade}}</a>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 text-center">
      <ul class="nuteds-menu">
        <li tooltip="Políticas">
          <a href="javascript:void(0);" data-toggle="modal" data-target="#politica">
            <img src="assets/images/ic_policy.svg" alt="" width="30" height="23" class="img-responsive">
          </a>
        </li>
        <li tooltip="Material de Apoio">
          <a href="javascript:void(0);" data-toggle="modal" data-target="#material-de-apoio">
            <img src="assets/images/ic_support.svg" alt="" width="35" height="23" class="img-responsive">
          </a>
        </li>
        <li tooltip="Saiba Mais">
          <a href="javascript:void(0);" data-toggle="modal" data-target="#saiba-mais">
            <img src="assets/images/ic_learn_more.svg" alt="" width="25" height="23" class="img-responsive">
          </a>
        </li>
        <li tooltip="Referências">
          <a href="javascript:void(0);" data-toggle="modal" data-target="#referencias">
            <img src="assets/images/ic_reference.svg" alt="" width="23" height="23" class="img-responsive">
          </a>
        </li>
        <li tooltip="Caixa de Ferramentas">
          <a href="javascript:void(0);" data-toggle="modal" data-target="#caixa-de-ferramentas">
            <img src="assets/images/ic_box.svg" alt="" width="23" height="23" class="img-responsive">
          </a>
        </li>
        <!--<li tooltip="Jogos">
          <a href="javascript:void(0);" data-toggle="modal" data-target="#jogos">
            <img src="assets/images/ic_game.svg" alt="" width="23" height="23" class="img-responsive">
          </a>
        </li>-->
      </ul>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <hr class="hr-divisorx2">
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-md-12">
      <h5 class="unid-title">UNIDADE {{unidade}} - {{unome}}</h5>
      <h4>{{anome}}</h4>
      <hr class="hr-divisor" style="margin-top:0 !important;">
    </div>
  </div>
</div>