<script type="text/javascript">
  $(function() {
    $('.moodle').click(function() {
      window.top.location.href = "https://ufc.unasus.gov.br/ava/course/view.php?id=754";
    });
  });
</script>
<div ng-controller="menuController">
<div class="navbar navbar-default">
  <div class="container" >
    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <div class="navbar-collapse navHeaderCollapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li>
          <a href="javascript:void(0);" class="moodle">
            <span class="glyphicon glyphicon-home"></span> &nbsp; Página Inicial
          </a>
        </li>
        <li class="dropdown" ng-repeat="unidade in unidades">
          <a href="javascript:void(0);" class="dropdown-toggle">{{unidade.label}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a ng-href="{{unidade.url}}"><span class="glyphicon glyphicon-list-alt"></span> <span class="menu-espaco">{{unidade.nome}}</span></a>
            </li>
            <li class="divider"></li>
            <li ng-repeat="atividade in unidade.atividade">
              <a ng-href="{{atividade.url}}" ng-click="reloadRoute()"><span class="glyphicon glyphicon-ok"></span> <span class="menu-espaco"> {{atividade.nome}}</span></a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right ">
          <li><a ng-href="#/creditos/" tooltip="Créditos"><img src="assets/images/about.svg" alt="" width="20" height="20" class="img-responsive"></a></li>
      </ul>
    </div>
  </div>
</div>
</div>