<div class="col-md-12">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-4">
      <a href="#/{{previous}}" class="btn btn-warning" ng-disabled="{{desativado || false}}">{{anterior || 'RETORNAR'}}</a>
    </div>
    <div class="col-md-2 col-md-offset-8 col-sm-3 col-sm-offset-6 col-xs-5 col-xs-offset-3 text-right">
      <a href="#/{{next}}" class="btn btn-warning">{{proximo || 'AVANÇAR'}}</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <hr class="hr-divisorx2">
    </div>
  </div>
</div>