<!-- Cabeçalho -->
<info
  unidade="1"
  atividade="Atividade 3"
  unome="Modos de vida e situação de saúde"
  anome="Atividade 3 - Territorialização em Saúde">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 static">
      <div class="content-box">
        <div class="row">
          <div class="col-md-12 text-center">
            <p><b>Questão 2 - </b>Para responder a questão, visite um dos 3 territórios e realize o exercício.</p>
              <br>
               <div class="row">
                <a href="#/atividade_3/3" class="campo" data="1">
                 <div class="col-md-4">
                   <img src="assets/images/unidade_1/atv3_campo.png" height="151" width="153" alt="" class="mosaic-badge">
                   <h3>CAMPO</h3>
                 </div>
                </a>
                <a href="#/atividade_3/5" class="campo" data="2">
                 <div class="col-md-4">
                   <img src="assets/images/unidade_1/atv3_floresta.png" height="151" width="153" alt="" class="mosaic-badge">
                   <h3>FLORESTA</h3>
                 </div>
                </a>
                <a href="#/atividade_3/7" class="campo" data="3">
                 <div class="col-md-4">
                   <img src="assets/images/unidade_1/atv3_agua.png" height="151" width="153" alt="" class="mosaic-badge" >
                   <h3>ÁGUA</h3>
                 </div>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Páginação -->
<paginas
  previous="atividade_3/1"
  proximo="FINALIZAR UNIDADE"
  next="atividade_3/9">
</paginas>
<!-- Modais -->
<modal target="politica" titulo="Políticas">
  <div ng-include src="'views/curso/modal/politica.html'"></div>
</modal>
<modal target="material-de-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/modal/material_de_apoio.html'"></div>
</modal>
<modal target="saiba-mais" titulo="Saiba Mais">
  <div ng-include src="'views/unidade_1/atividade_3/modal/saiba_mais.html'"></div>
</modal>
<modal target="referencias" titulo="Referências">
  <div ng-include src="'views/unidade_1/atividade_3/modal/referencias.html'"></div>
</modal>
<modal target="caixa-de-ferramentas" titulo="Caixa de Ferramentas">
  <div ng-include src="'views/curso/modal/caixa_de_ferramentas.html'"></div>
</modal>
<modal target="jogos" titulo="Jogos">
  <div ng-include src="'views/curso/modal/jogos.html'"></div>
</modal>