<script src="assets/lib/highcharts.js"></script>
<script src="assets/lib/exporting.js"></script>
<script src="assets/js/mapa.tabela.js"></script>
<script src="assets/js/tabela.campos.js"></script>
<!-- Cabeçalho -->
<info
  unidade="1"
  atividade="Atividade 3"
  unome="Modos de vida e situação de saúde"
  anome="Atividade 3 - Territorialização em Saúde">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
  <div class="row">
  <!-- Content -->
    <div class="col-md-7 static">
      <div class="content-box">
        <div class="row">
          <div class="col-md-12" >
            <h4 class="text-center">Modos de vida das populações do Campo </h4>
            <div class="box-campos">Os 5.500 moradores que compõem Mata Alta são caracterizado por regime de agricultura familiar  que produz  frutas comercializadas na região. Os serviços de saneamento prestados a população rural do município (cerca de 85% da população vive na área rural) apresentam elevado déficit de cobertura. Apenas 33,2% dos domicílios no município estão ligados a redes de abastecimento de água. No restante dos domicílios (66,8%), a população capta água de poços protegidos ou não, diretamente de cursos de água sem nenhum tratamento ou de outras fontes alternativas geralmente inadequadas para consumo humano. A situação é mais crítica quando são analisados dados de esgotamento sanitário: apenas 5,2% dos domicílios estão ligados à rede de coleta de esgotos e 28,3% utilizam a fossa séptica como solução para o tratamento dos dejetos. Os demais domicílios (66,5%) depositam os dejetos em “fossas rudimentares”, lançam em cursos d´água ou diretamente no solo a céu aberto. (fonte PNDA/2012 disponível em <a href="http://www.funasa.gov.br/site/engenharia-de-saude-publica-2/saneamento-rural/" target="_blank" style="text-decoration:none !important; color:#333 !important;"><b>acesse clicando aqui</b></a>.)</div><br>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                 <table class="table table-striped">
                  <tr>
                    <td class="tb-campos-escuro">Agravos</td>
                    <td class="tb-campos-escuro text-center">Quantidade de agravos em 2012/2014</td>
                  </tr>
                  <tr>
                    <td class="bg-campos">Quedas</td>
                    <td class="bg-campos text-center">60</td>
                  </tr>
                  <tr>
                    <td>Animais peçonhentos</td>
                    <td class="text-center">200</td>
                  </tr>
                  <tr>
                    <td class="bg-campos">Intoxicações</td>
                    <td class="bg-campos text-center">150</td>
                  </tr>
                  <tr>
                    <td class="text-left">Acidentes Perfuro-Cortantes</td>
                    <td class="text-center">28</td>
                  </tr>
                  <tr>
                    <td class="bg-campos">Queimaduras</td>
                    <td class="bg-campos text-center">122</td>
                  </tr>
                  <tr>
                    <td>Choque Eĺétrico</td>
                    <td class="text-center">354</td>
                  </tr>
                  <tr>
                    <td class="bg-campos">Lesões Diversas</td>
                    <td class="bg-campos text-center">97</td>
                  </tr>
                  <tr>
                    <td>Fraturas/Luxações/Entorses</td>
                    <td class="text-center">174</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5" id="dynamic">
      <div class="content-box margin-top">
        <h6 class="titulo-box"><a onclick="expandir2();" href="javascript:void(0);" class="text-modal"><span class="glyphicon glyphicon-resize-full size"></span></a> Mapeamento dos Agravos no Território</h6>
        <form role="form" name="inserir" method="post" action="inserir">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-justify">Você selecionou o território Campo. Com os dados apresentados construa um mapa das doenças prevalentes em regiões que apresentam as características desse tipo de território. Para a construção do mapa utilize questionário a seguir, preenchendo-o com os dados. Esta questão não tem resposta certa ou errada. O objetivo é fazê-lo(a) compreender que antes de iniciar seu trabalho como profissional de saúde, é preciso conhecer as condições de saúde da população que habita o território onde você atua.</p>
                </div>
              </div>
              <div class="ferramenta-campos">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <br>
                    <label>População:</label>
                    <input type="text" class="form-control" placeholder="Digite o número de habitantes" name="dado1" id="dado01" onkeypress="return InputNum(event);">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <label>Quedas:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 1" name="dado2" id="dado02" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Animais peçonhentos:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 2" name="dado3" id="dado03" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Intoxicações:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 3" name="dado4" id="dado04" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Acidentes <br>Perfuro-Cortantes:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 4" name="dado5" id="dado05" onkeypress="return InputNum(event);">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label>Queimaduras:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 5" name="dado6" id="dado06" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Choque Eĺétrico:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 6" name="dado7" id="dado07" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Lesões Diversas:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 7" name="dado8" id="dado08" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Fraturas/Luxações/<br>Entorses:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 8" name="dado9" id="dado09" onkeypress="return InputNum(event);">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="button" name="gerarGrafico" value="Gerar Grafico" onclick="javascript: drawChart();" class="btn btn-warning-campos"/>
                  <br><br>
                </div>
              </div>
              </div>
            </form>
      </div>
    </div>
  </div>

</div>
<!-- Páginação -->
<div class="col-md-12">
<div class="row">
  <div class="col-md-2">
  <a href="#/atividade_3/3" class="btn btn-warning">RETORNAR</a>
  </div>
  <div class="col-md-4 col-md-offset-2"><p class="text-center"><a href="#/atividade_3/2" class="btn btn-warning">MENU DOS VÍDEOS</a></p></div>
  <div class="col-md-4 text-right">
  <a href="#/atividade_3/9" class="btn btn-warning">FINALIZAR UNIDADE</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <hr class="hr-divisorx2">
  </div>
</div>
</div>
<!-- Modais -->
<modal target="politica" titulo="Políticas">
  <div ng-include src="'views/curso/modal/politica.html'"></div>
</modal>
<modal target="material-de-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/modal/material_de_apoio.html'"></div>
</modal>
<modal target="saiba-mais" titulo="Saiba Mais">
  <div ng-include src="'views/unidade_1/atividade_3/modal/saiba_mais.html'"></div>
</modal>
<modal target="referencias" titulo="Referências">
  <div ng-include src="'views/unidade_1/atividade_3/modal/referencias.html'"></div>
</modal>
<modal target="caixa-de-ferramentas" titulo="Caixa de Ferramentas">
  <div ng-include src="'views/curso/modal/caixa_de_ferramentas.html'"></div>
</modal>
<modal target="jogos" titulo="Jogos">
  <div ng-include src="'views/curso/modal/jogos.html'"></div>
</modal>
<!-- Extra Modal -->
<div class="modal fade" id="grafico">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Gráfico</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div id="container" class="col-md-12" style="height: 650px; margin: 0 auto; max-width:538px !important;"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->