<script src="assets/lib/highcharts.js"></script>
<script src="assets/lib/exporting.js"></script>
<script src="assets/js/mapa.tabela.js"></script>
<script src="assets/js/tabela.floresta.js"></script>
<!-- Cabeçalho -->
<info
  unidade="1"
  atividade="Atividade 3"
  unome="Modos de vida e situação de saúde"
  anome="Atividade 3 - Territorialização em Saúde">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
  <div class="row">
  <!-- Content -->
    <div class="col-md-7 static">
      <div class="content-box">
        <div class="row">
          <div class="col-md-12" >
            <h4 class="text-center">Modos de vida das populações da Floresta</h4>
            <div class="box-floresta">O pequeno distrito de Piaba fica na  região onde está sendo construída uma grande barragem. O desmatamento é intenso e isso vem afetando o modo de vida dessa população que depende muito  da natureza.
                     <br><br>
            Possui cerca de 800 moradores que compõem uma comunidade extrativista  de produtos da floresta tais como:  cata e coleta de frutos silvestres (açaí, babaçu, copaíba etc), o extrativismo de borracha através da seringueira, sorva e balata, além da cata de sementes e ervas medicinais. Os constantes desmatamentos  da região vem afetando essa população  que vem sofrendo  enormes perdas dos meios materiais de vida. Como consequência disso,  a qualidade de vida dessa população tem  diminuído, afetando a sobrevivência das famílias.</div><br>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                 <table class="table table-striped">
                  <tr>
                    <td class="tb-floresta-escuro">Agravos</td>
                    <td class="tb-floresta-escuro text-center">Quantidade de agravos em 2012/2014</td>
                  </tr>
                  <tr>
                    <td class="bg-floresta">Desnutrição Infantil</td>
                    <td class="bg-floresta text-center">29</td>
                  </tr>
                  <tr>
                    <td>Anemia</td>
                    <td class="text-center">20</td>
                  </tr>
                  <tr>
                    <td class="bg-floresta">Dengue</td>
                    <td class="bg-floresta text-center">15</td>
                  </tr>
                  <tr>
                    <td>Picada Animal Peçonhento (serpente)</td>
                    <td class="text-center">06</td>
                  </tr>
                  <tr>
                    <td class="bg-floresta">Febre Amarela</td>
                    <td class="bg-floresta text-center">06</td>
                  </tr>
                  <tr>
                    <td>Malária</td>
                    <td class="text-center">12</td>
                  </tr>
                  <tr>
                    <td class="bg-floresta">Tuberculose</td>
                    <td class="bg-floresta text-center">04</td>
                  </tr>
                  <tr>
                    <td>Leishmaniose Tegumentar</td>
                    <td class="text-center">01</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5" id="dynamic">
      <div class="content-box margin-top">
        <h6 class="titulo-box"><a onclick="expandir2();" href="javascript:void(0);" class="text-modal"><span class="glyphicon glyphicon-resize-full size"></span></a>Mapeamento dos Agravos no Território</h6>
        <form role="form" name="inserir" method="post" action="inserir">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-justify">Você selecionou o território Floresta. Com os dados apresentados construa um mapa das doenças prevalentes em regiões que apresentam as características desse tipo de território. Para a construção do mapa utilize questionário a seguir, preenchendo-o com os dados. Esta questão não tem resposta certa ou errada. O objetivo é fazê-lo(a) compreender que antes de iniciar seu trabalho como profissional de saúde, é preciso conhecer as condições de saúde da população que habita o território onde você atua. </p>
                </div>
              </div>
              <div class="ferramenta-floresta">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <br>
                    <label>População:</label>
                    <input type="text" class="form-control" placeholder="Digite o número de habitantes" name="dado1" id="dado01" onkeypress="return InputNum(event);">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <label>Desnutrição Infantil:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 1" name="dado2" id="dado02" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Anemia:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 2" name="dado3" id="dado03" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Dengue:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 3" name="dado4" id="dado04" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Picada Animal <br>Peçonhento (serpente):</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 4" name="dado5" id="dado05" onkeypress="return InputNum(event);">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label>Febre Amarela:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 5" name="dado6" id="dado06" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Malária:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 6" name="dado7" id="dado07" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Tuberculose:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 7" name="dado8" id="dado08" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Leishmaniose <br>Tegumentar:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 8" name="dado9" id="dado09" onkeypress="return InputNum(event);">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="button" name="gerarGrafico" value="Gerar Grafico" onclick="javascript: drawChart();" class="btn btn-warning-floresta"/>
                  <br><br>
                </div>
              </div>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>
<!-- Páginação -->
<div class="col-md-12">
<div class="row">
  <div class="col-md-2">
  <a href="#/atividade_3/5" class="btn btn-warning">RETORNAR</a>
  </div>
  <div class="col-md-4 col-md-offset-2"><p class="text-center"><a href="#/atividade_3/2" class="btn btn-warning">MENU DOS VÍDEOS</a></p></div>
  <div class="col-md-4 text-right">
  <a href="#/atividade_3/9" class="btn btn-warning">FINALIZAR UNIDADE</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <hr class="hr-divisorx2">
  </div>
</div>
</div>
<!-- Modais -->
<modal target="politica" titulo="Políticas">
  <div ng-include src="'views/curso/modal/politica.html'"></div>
</modal>
<modal target="material-de-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/modal/material_de_apoio.html'"></div>
</modal>
<modal target="saiba-mais" titulo="Saiba Mais">
  <div ng-include src="'views/unidade_1/atividade_3/modal/saiba_mais.html'"></div>
</modal>
<modal target="referencias" titulo="Referências">
  <div ng-include src="'views/unidade_1/atividade_3/modal/referencias.html'"></div>
</modal>
<modal target="caixa-de-ferramentas" titulo="Caixa de Ferramentas">
  <div ng-include src="'views/curso/modal/caixa_de_ferramentas.html'"></div>
</modal>
<modal target="jogos" titulo="Jogos">
  <div ng-include src="'views/curso/modal/jogos.html'"></div>
</modal>
<!-- Extra Modal -->
<div class="modal fade" id="grafico">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Gráfico</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div id="container" class="col-md-12" style="height: 650px; margin: 0 auto; max-width:538px !important;"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->