<script src="assets/lib/highcharts.js"></script>
<script src="assets/lib/exporting.js"></script>
<script src="assets/js/mapa.tabela.js"></script>
<script src="assets/js/tabela.agua.js"></script>
<!-- Cabeçalho -->
<info
  unidade="1"
  atividade="Atividade 3"
  unome="Modos de vida e situação de saúde"
  anome="Atividade 3 - Territorialização em Saúde">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
  <div class="row">
  <!-- Content -->
    <div class="col-md-7 static">
      <div class="content-box">
        <div class="row">
          <div class="col-md-12" >
            <h4 class="text-center">Modos de vida das populações das Águas</h4>
            <div class="box-agua">Os 792 moradores de Vila Caiçara compõem essa comunidade de marisqueiras(os), em sua maioria mulheres.  O processo de trabalho da coleta de mariscos dura em média 12 horas por dia. Em consequência dessa jornada de trabalho as marisqueiras são acometidas por diversas problemas de saúde como: Doenças de pele; Envelhecimento precoce; Problemas relacionados a visão (catarata,cegueira); Lesões sérias na coluna; Prolapso uterino (útero caído); Infecções no aparelho reprodutor feminino; Lesões por Esforços Repetitivos ou Distúrbios Osteomoleculares Relacionados ao Trabalho (Tendinite,Tenossinovite); Hemorróidas.</div><br>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                 <table class="table table-striped">
                  <tr>
                    <td class="tb-agua-escuro">Agravos</td>
                    <td class="tb-agua-escuro  text-center">Quantidade de  agravos em 2012/2014</td>
                  </tr>
                  <tr>
                    <td class="bg-agua">Dengue</td>
                    <td class="bg-agua text-center">300</td>
                  </tr>
                  <tr>
                    <td>Malária</td>
                    <td class="text-center">84</td>
                  </tr>
                  <tr>
                    <td class="bg-agua">Infecção Urinária</td>
                    <td class="bg-agua text-center">128</td>
                  </tr>
                  <tr>
                    <td>Hepatite viral B e C</td>
                    <td class="text-center">97</td>
                  </tr>
                  <tr>
                    <td class="bg-agua">Escalpelamento</td>
                    <td class="bg-agua text-center">80</td>
                  </tr>
                  <tr>
                    <td>Diarréia</td>
                    <td class="text-center">403</td>
                  </tr>
                  <tr>
                    <td class="bg-agua">Virose</td>
                    <td class="bg-agua  text-center">81</td>
                  </tr>
                  <tr>
                    <td>Parasitose Instetinal</td>
                    <td class="text-center">54</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5" id="dynamic">
      <div class="content-box margin-top">
        <h6 class="titulo-box"><a onclick="expandir2();" href="javascript:void(0);" class="text-modal"><span class="glyphicon glyphicon-resize-full size"></span></a> Mapeamento dos Agravos no Território</h6>
        <form role="form" name="inserir" method="post" action="inserir">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-justify">Você selecionou o território Águas. Com os dados apresentados construa um mapa das doenças prevalentes em regiões que apresentam as características desse tipo de território. Para a construção do mapa utilize questionário a seguir, preenchendo-o com os dados. Esta questão não tem resposta certa ou errada. O objetivo é fazê-lo(a) compreender que antes de iniciar seu trabalho como profissional de saúde, é preciso conhecer as condições de saúde da população que habita o território onde você atua.</p>
                </div>
              </div>
              <div class="ferramenta-agua">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <br>
                    <label>População:</label>
                    <input type="text" class="form-control" placeholder="Digite o número de habitantes" name="dado1" id="dado01" onkeypress="return InputNum(event);">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <label>Dengue:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 1" name="dado2" id="dado02" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Malária:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 2" name="dado3" id="dado03" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Infecção Urinária:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 3" name="dado4" id="dado04" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Hepatite viral B e C:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 4" name="dado5" id="dado05" onkeypress="return InputNum(event);">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label>Escalpelamento:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 5" name="dado6" id="dado06" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Diarréia:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 6" name="dado7" id="dado07" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Virose:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 7" name="dado8" id="dado08" onkeypress="return InputNum(event);">
                  </div>

                  <div class="form-group">
                      <label>Parasitose Instetinal:</label>
                      <input type="text" class="form-control" placeholder="Digite o dado 8" name="dado9" id="dado09" onkeypress="return InputNum(event);">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="button" name="gerarGrafico" value="Gerar Grafico" onclick="javascript: drawChart();" class="btn btn-warning-agua"/>
                  <br><br>
                </div>
              </div>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>
<!-- Páginação -->
<div class="col-md-12">
<div class="row">
  <div class="col-md-2">
  <a href="#/atividade_3/7" class="btn btn-warning">RETORNAR</a>
  </div>
  <div class="col-md-4 col-md-offset-2"><p class="text-center"><a href="#/atividade_3/2" class="btn btn-warning">MENU DOS VÍDEOS</a></p></div>
  <div class="col-md-4 text-right">
  <a href="#/atividade_3/9" class="btn btn-warning">FINALIZAR UNIDADE</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <hr class="hr-divisorx2">
  </div>
</div>
</div>
<!-- Modais -->
<modal target="politica" titulo="Políticas">
  <div ng-include src="'views/curso/modal/politica.html'"></div>
</modal>
<modal target="material-de-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/modal/material_de_apoio.html'"></div>
</modal>
<modal target="saiba-mais" titulo="Saiba Mais">
  <div ng-include src="'views/unidade_1/atividade_3/modal/saiba_mais.html'"></div>
</modal>
<modal target="referencias" titulo="Referências">
  <div ng-include src="'views/unidade_1/atividade_3/modal/referencias.html'"></div>
</modal>
<modal target="caixa-de-ferramentas" titulo="Caixa de Ferramentas">
  <div ng-include src="'views/curso/modal/caixa_de_ferramentas.html'"></div>
</modal>
<modal target="jogos" titulo="Jogos">
  <div ng-include src="'views/curso/modal/jogos.html'"></div>
</modal>
<!-- Extra Modal -->
<div class="modal fade" id="grafico">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Gráfico</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div id="container" class="col-md-12" style="height: 650px; margin: 0 auto; max-width:538px !important;"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->