<div class="row">
  <div class="col-md-12">
    <img src="assets/images/unidade_1/atv1_tabela_agravos.png" class="img-responsive">  
    <br>
    <p><small>Nota(¹): Não foi possível separar casos rurais e urbanos.
    <br><br> 
    Fonte: MS/Sinan. Elaboração: (Soares,et al, 2014).</small></p>
  </div>
</div>