<p class="text-justify">
AUGUSTO, L.G. ; MOISES, M. Ambiente e suas implicações para a saúde. In: AUGUSTO, L.G.; BELTRÃO, A.B. (Org.) <b>Atenção Primária à Saúde</b>: Saúde Ambiental Infantil. Recife: UFPE, 2011. p. 133-40.
<br><br>
AUGUSTO, L.G. Impactos da nocividade ambiental para a saúde – a necessidade da abordagem ecossistêmica em saúde. In: AUGUSTO, L.G.; BELTRÃO, A.B. (Org.) <b>Atenção Primária à Saúde</b>: Saúde Ambiental Infantil. Recife: UFPE, 2011. p. 163-171.
<br><br>
AZEREDO, C. M. et al. Avaliação das condições de habitação e saneamento: a importância da visita domiciliar no contexto do Programa de Saúde da Família. <b>Ciênc. saúde coletiva</b>., v.12, n.3, p. 743-753, 2007.
<br><br>
BARROS, G. S.C.; ADAMI, A. C. O; ZANDONÁ, N. F. Faturamento e volume exportado do agronegócio brasileiro são recordes em 2013. Disponível em: http://cepea.esalq.usp.br/macro/. Acesso em: 04 set. 2014.
<br><br>
BATISTELLA, C. Análise da Situação de Saúde: principais problemas de saúde da população brasileira. In: FONSECA, A. F. (Org.) <b>O território e o processo saúde-doença</b>. Rio de Janeiro: EPSJV/Fiocruz, 2007. p. 121-158.
<br><br>
BRASIL. Ministério da Saúde. <b>Doenças relacionadas ao trabalho</b>: manual de procedimentos para os serviços de saúde. Brasília, 2001. (Série A. Normas e Manuais Técnicos; n.114).
<br><br>
BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Instituto Nacional de Câncer. Coordenação de Prevenção e Vigilância. <b>A situação do câncer no Brasil.</b> Rio de Janeiro: INCA, 2006. 120p
<br><br>
BRASIL. Ministério da Saúde. Secretaria de Vigilância em Saúde. Departamento de Análise de Situação de Saúde. <b>Saúde Brasil 2011</b>: uma análise da situação de saúde e a vigilância da saúde da mulher. Brasília, 2012. 444 p.
<br><br>
BRASIL. Ministério do Desenvolvimento Agrário. Câmara Interministerial de Agroecologia e Produção Orgânica. <b>Política Nacional de Agroecologia e Produção Orgânica</b>. Brasília, 2013.
<br><br>
BUSS, P. M.; PELLEGRINI-FILHO, A. A saúde e seus determinantes sociais. <b>Physis</b> [online], Rio de Janeiro, v. 17, n. 1, Apr.  2007.
<br><br>
COSTA, A. I.P.; NATAL, D. Distribuição espacial da dengue e determinantes socioeconômicos em localidade urbana no Sudeste do Brasil. <b>Rev. Saúde</b> Pública, São Paulo,  v. 32, n. 3, Jun.  1998.
<br><br>
DIAS, E. C. Condições de vida, trabalho, saúde e doença dos trabalhadores rurais no Brasil. In: PINHEIRO, T.M.M. (Org.) <b>Saúde do Trabalhador Rural – RENAST</b>. 2006. Disponível em: http://pt.scribd.com/doc/60789257/Saude-Trabalhador-Rural. Acesso em: 04 set. 2014.
<br><br>
FUNDAÇÃO OSWALDO CRUZ. <b>Mapa de conflitos envolvendo injustiça ambiental e saúde no Brasil.</b> Disponível em: http://www.conflitoambiental.icict.fiocruz.br/index.php. Acesso em: 04 set. 2014.
<br><br>
GOUVEIA, N. Saúde e meio ambiente nas cidades: os desafios da saúde ambiental. <b>Saude Soc.</b>; v.8, n.1, p. 49-61, 1999.
<br><br>
GOUVEIA, N.; MAISONET, M. Health effects of air pollution: an overview. In: World Health Organization. <b>Air Quality Guidelines</b> - Global Update 2005.WHO Regional Office for Europe, 2006. p. 87-109.
<br><br>
HALONZO, H. G. A. et al. Saúde Ambiental e Atenção Primária à Saúde nos microterritórios: a taxa de mortalidade infantil para subsidiar a atuação da equipe de saúde. <b>Rev Salud Ambient</b>, Alcobendas (Madri), v. 13, n. 1, p.44-52, jun. 2013.
<br><br>
IBGE. Instituto Brasileiro de Geograﬁa e Estatística. <b>Censo Demográﬁco 2010</b> - Características da população e dos domicílios. Resultados do universo. Rio de Janeiro: IBGE, 2011.
<br><br>
IBGE. Pesquisa Nacional por Amostra de Domicílios. <b>Um Panorama da Saúde no Brasil</b>: Acesso e utilização dos serviços, condições de saúde e fatores de risco e proteção à saúde 2008. Rio de Janeiro, 2010.
<br><br>
IBGE. <b>Séries estatísticas</b>: Doenças relacionadas ao saneamento ambiental inadequado. Disponível em: http://seriesestatisticas.ibge.gov.br/series. aspx?no=13&op=0&vcodigo=AM38&t=doencas-relacionadas-saneamento-ambiental-inadequado-drsai . Acesso em: 04 set. 2014.
<br><br>
Organização Pan-Americana da Saúde. <b>Módulos de Princípios de Epidemiologia para o Controle de Enfermidades</b>: Módulo 1 - apresentação e marco conceitual. Brasília: Organização Pan-Americana da Saúde; Ministério da Saúde, 2010. 30p.
<br><br>
PAIM, J.S.; ALMEIDA-FILHO, N. Análise de situação de saúde: o que são necessidades e problemas de saúde? In: PAIM, J. S.; ALMEIDA-FILHO, N. (org). <b>Saúde Coletiva Teoria e Prática</b>. Rio de Janeiro: MedBook, 2014. p. 29-39.
<br><br>
PELLEGRINI-FILHO, A.; BUSS, P. M.; ESPERIDIÃO, M. A. Promoção da saúde e seus fundamentos: determinantes sociais de saúde, ação intersetorial e políticas públicas saudáveis In: PAIM, J. S.; ALMEIDA-FILHO, N. (org). <b>Saúde Coletiva Teoria e Prática</b>. Rio de Janeiro: MedBook, 2014. p.305-326.
<br><br>
TAMBELLINI, A. T.; MIRANDA, A.C. Saúde e Ambiente. In: GIOVANELLA, L. et al (Org.) <b>Políticas e Sistema de Saúde no Brasil</b>. Rio de Janeiro: Fiocruz, 2012. p. 1037-71.
<br><br>
ZIONI, F.; WESTPHAL, M.F. O enfoque dos determinantes sociais de saúde sob o ponto de vista da teoria social. <b>Saude soc.</b>,  São Paulo,  v. 16, n. 3, Dec.  2007.
</p>