<ul>
	<li><a href="assets/pdf/modelo_social.pdf" target="_blank">ALMEIDA-FILHO, Naomar. Modelos de determinação das sociais Doenças Não-Transmissíveis crônicas. Ciênc. saúde coletiva, Rio de Janeiro, v. 9, n. 4, Dezembro de 2004.</a></li>
  <li><a href="assets/pdf/queima_biomassa.pdf" target="_blank">ARBEX, Marcos Abdo et al . Queima de biomassa e efeitos sobre a saúde. <b>J. bras. pneumol.</b>, São Paulo ,  v. 30, n. 2, Apr.  2004.   </a></li>
  <li><a href="assets/pdf/saude_determinantes.pdf" target="_blank">BUSS, P. M.; PELLEGRINI-FILHO, A. A saúde e seus determinantes sociais. Physis. Rio de Janeiro, v. 17, n. 1, Abr.  2007.</a> </li>
  <li><a href="http://www.determinantes.fiocruz.br" target="_blank">Comissão Nacional de Determinantes Sociais de Saúde</a></li>
  <li><a href="assets/pdf/determinantes_saude.pdf" target="_blank">Determinação social da saúde. In: Proposição para o Debate. 1º Simpósio de Políticas e Saúde do Cebes; 2009; Niterói, BR.</a></li>
  <li><a href="assets/pdf/junqueira.pdf" target="_blank">JUNQUEIRA. Mariana Gravina Prates. Transformações do Mundo Contemporâneo e as Mudanças Socioambientais. <b>RAD</b>. v.12, n.3, Set/Out/Nov/Dez 2010, p.162-176.</a></li>
  <li><a href="http://www.conflitoambiental.icict.fiocruz.br/index.php?pag=resumo" target="_blank">MAPA de conflitos envolvendo injustiça ambiental e saúde no Brasil. Síntese dos principais resultados. </a></li>
  <li><a href="assets/pdf/v12n3a14.pdf" target="_blank">MAURO, Maria Yone Chaves. Riscos Ocupacionais em Saúde Ocupational Health Risks. <b>R Enferm</b>. UERJ, v. 12, n.338-45, 2004. </a></li>
  <li><a href="assets/pdf/modelos_explicativos.pdf" target="_blank">PUTTINI, Rodolfo Franco; PEREIRA JUNIOR, Alfredo; OLIVEIRA, Luiz Roberto de.Modelos explicativos em saúde coletiva:. Abordagem biopsicossocial e auto-Organização. <b>Physis</b>, Rio de Janeiro, v 20, n.. 3, de 2010. </a></li>
  <li><a href="assets/pdf/espaco_urbano.pdf" target="_blank">SOUSA. Lucas Gomes de. Produção do espaço urbano na região do agronegócio. O caso de Lucas do Rio Verde no Mato Grosso. Chão Urbano. <b>Revista online pesquisa urbana discursão acadêmica.</b> Publicação bimestral. </a></li>
  <li><a href="assets/pdf/7557-10061-1-PB.pdf" target="_blank">RAZZOLINI, Maria Tereza Pepe. GÜNTHE, Wanda Maria Risso . Impactos na Saúde das Deficiências de Acesso a Água.  <b>Saúde Soc</b>. São Paulo, v.17, n.1, p.21-32, 2008. </a></li>
  <li><a href="assets/pdf/rural.pdf" target="_blank">TELO, Fabricio; DE DAVID, Cesar. O rural depois do êxodo: as implicações do despovoamento dos campos no distrito de Arroio do Só, município de Santa Maria/RS, Brasil. <b>Mundo agr</b>.,  La Plata,  v. 13,  n. 25, dic.  2012.</a></li>
  <li><a href="assets/pdf/determinação da saúde U1A1Q1.pdf" target="_blank">Determinação da Súde</a></li>
</ul>
