<div class="col-md-12">
  <h4>{{unidades[0].label}} – {{unidades[0].nome}}</h4>
  <p class="text-justify">Nesta Unidade apresentamos as necessidades de saúde dos povos do campo, da floresta e das águas, a partir de depoimentos e situações vivenciadas por essas populações, levando em consideração o trabalho e o ambiente, bem como as especificidades de cada território.</p>
  <hr class="hr-divisor">
  <div class="row" ng-repeat="atividade in unidades[0].atividade">
    <div class="col-md-2 text-center">
      <img src="{{atividade.imagem}}" alt=""  class="img-circle img-unidade-status">
    </div>
    <div class="col-md-10 text-justify">
      <h3>{{atividade.nome}}</h3>
      <p><b>Objetivo:</b> {{atividade.objetivo}}</p>
      <br>
      <div class="row">
        <div class="col-md-3">
          <a ng-href="{{atividade.url}}" class="btn btn-warning">Acessar essa atividade</a>
        </div>
      </div>
    </div>
    &nbsp;<br><br><hr>
  </div>
</div>