<script>
  $(function() {
    createQuestion(4, "contentQuestion");
    $(".q2").click(function() {
      createQuestion(5, "contentQuestion");
      $(".q2").hide();
      $(".q1").show();
    });
    $(".q1").click(function() {
      createQuestion(4, "contentQuestion");
      $(".q1").hide();
      $(".q2").show();
    });
  });
</script>
<!-- Cabeçalho -->
<info
  unidade="1"
  atividade="Contextualização"
  unome="Modos de vida e situação de saúde"
  anome="Contextualização">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
  <div class="row">
    <div class="col-md-7 static">
      <div class="content-box">
        <div class="row">
          <div class="col-md-12 text-center">
            <p><small>(aperte o play e assista ao vídeo)</small></p>
            <iframe class="videos" src="https://www.youtube.com/embed/fczpBbaeBLg?wmode=transparent&showinfo=0&rel=0&autohide=1" frameborder="0" wmode="Opaque" allowfullscreen>
           </iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 dynamic">
      <div class="content-box margin-top">
        <h6 class="titulo-box"><a onclick="expandir2();" href="javascript:void(0);" class="text-modal"><span class="glyphicon glyphicon-resize-full size"></span></a> Questão</h6>
        <div id="contentQuestion"></div>
        <br><br>
        <div class="text-center">
          <p class="orientacao"><small>Antes de passar para próxima questão,  responda a primeira clicando no botão enviar.</small></p>
          <a href="javascript:void(0);" class="btn btn-warning btn-sm q1" style="display:none;"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a href="javascript:void(0);" class="btn btn-warning btn-sm q2"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Páginação -->
<paginas
  previous="contextualizacao/1"
  next="contextualizacao/3">
</paginas>
<!-- Modais -->
<modal target="politica" titulo="Políticas">
  <div ng-include src="'views/curso/modal/politica.html'"></div>
</modal>
<modal target="material-de-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/modal/material_de_apoio.html'"></div>
</modal>
<modal target="saiba-mais" titulo="Saiba Mais">
  <div ng-include src="'views/unidade_1/contextualizacao/modal/saiba_mais.html'"></div>
</modal>
<modal target="referencias" titulo="Referências">
  <div ng-include src="'views/unidade_1/contextualizacao/modal/referencias.html'"></div>
</modal>
<modal target="caixa-de-ferramentas" titulo="Caixa de Ferramentas">
  <div ng-include src="'views/curso/modal/caixa_de_ferramentas.html'"></div>
</modal>
<modal target="jogos" titulo="Jogos">
  <div ng-include src="'views/curso/modal/jogos.html'"></div>
</modal>