<!-- Cabeçalho -->
<info
  unidade="1"
  atividade="Atividade 2"
  unome="Modos de vida e situação de saúde"
  anome="Atividade 2 - Políticas de Saúde para Campo, Floresta e Águas">
</info>
<!-- Conteúdo -->
<div class="col-md-8 col-md-offset-2 static">
  <div class="content-box">
    <div class="row">
      <div class="col-md-12 text-justify">
        Agora que você concluiu a atividade 02, vamos relembrar os principais conceitos da Política Nacional de Saúde Integral das Populações do Campo e da Floresta (PNSIPCF)? Responda a palavra cruzada, e caso tenha dúvida, <a href="assets/pdf/politica_nacional_saude_populacoes_campo.pdf"  target="_blank"><b>clique aqui</b> e consulte a (PNSIPCF). <br><br>
      </div>
      <div class="col-md-12">
        <iframe class="cruzada" src="views/unidade_1/atividade_2/atividade/exe01_2.htm" frameborder="0" wmode="Opaque" allowfullscreen scrolling="yes">
        </iframe>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- Páginação -->
<paginas
  previous="atividade_2/2"
  next="atividade_2/4">
</paginas>
<!-- Modais -->
<modal target="politica" titulo="Políticas">
  <div ng-include src="'views/curso/modal/politica.html'"></div>
</modal>
<modal target="material-de-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/modal/material_de_apoio.html'"></div>
</modal>
<modal target="saiba-mais" titulo="Saiba Mais">
  <div ng-include src="'views/unidade_1/atividade_2/modal/saiba_mais.html'"></div>
</modal>
<modal target="referencias" titulo="Referências">
  <div ng-include src="'views/unidade_1/atividade_2/modal/referencias.html'"></div>
</modal>
<modal target="caixa-de-ferramentas" titulo="Caixa de Ferramentas">
  <div ng-include src="'views/curso/modal/caixa_de_ferramentas.html'"></div>
</modal>
<modal target="jogos" titulo="Jogos">
  <div ng-include src="'views/curso/modal/jogos.html'"></div>
</modal>