<script src="assets/js/campos.game.js"></script>
<!-- Cabeçalho -->
<div class="col-md-12">
  <!--  -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <hr class="hr-divisorx2">
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-md-12 text-center">
      <h5 class="unid-title">Risco Ambiental para as Populações do Campo</h5>
      <hr class="hr-divisor" style="margin-top:0 !important;">
    </div>
  </div>
</div>
<!-- Conteúdo -->
<div class="col-md-10 col-md-offset-1 static">
  <div class="content-box">
    <div class="row">
      <div class="col-md-12 text-center">
       <p class="text-center">É hora de testar seus conhecimentos.</p>
       <p class="text-center">O jogo da vida é uma simulação que traz questões básicas que podem ocorrer no cotidiano das populações do campo, da floresta e das águas, ou sobre a PNSPCFA.</p>
       <p class="text-center"><small>(Clique sobre a lupa para responder as perguntas)</small></p>
       <canvas id="canvas" height="600" width="800"></canvas>
      </div>
    </div>
  </div>
</div>
<!-- Páginação -->
<paginas
  previous="atividade_3/9"
  next="/">
</paginas>