ASSOCIAÇÃO DE REMANESCENTES DE QUILOMBO DO RIO DOS MACACOS. Dossiê de Violação de Direitos da Comunidade Quilombola do Rio dos Macacos. 2012.
<br><br>
BRASIL. Comissão Nacional de Determinantes Sociais de Saúde. <b>Iniquidades em saúde no Brasil</b>: nossa mais grave doença. 2006.
<br><br>
BRASIL. Constituição da República Federativa do Brasil. Brasília: Senado Federal, 1988. 
<br><br>
BRASIL. Lei n.º 8.080 de 19 de setembro de 1990. Dispõe sobre as condições para a promoção, proteção e recuperação da saúde, a organização e o funcionamento dos serviços correspondentes, e dá outras providências. <b>Diário Oficial</b> da União, Brasília, DF, 20 set. 1990. Seção 1, p. 18055.
<br><br>
BRASIL. Ministério da Educação. <b>Uma história do povo Kalunga</b>.  Brasília: Secretaria de Educação Fundamental, 2011.
<br><br>
BRASIL. Ministério da Saúde. <b>Política Nacional de Atenção Integral à Saúde da Mulher</b>: Princípios e Diretrizes. Brasília, 2011.
<br><br>
BRASIL. Ministério da Saúde. <b>Política Nacional de Saúde Integral das Populações do Campo, da Floresta e das Águas.</b> Brasília, 2013.
<br><br>
BRASIL. Ministério da Saúde. Portaria nº 1.229, de 6 de junho de 2014. Define os valores do incentivo financeiro mensal de custeio das Equipes de Saúde da Família Ribeirinhas (ESFR), das Equipes de Saúde da Família Fluviais (ESFF) e das Unidades Básicas de Saúde Fluviais (UBSF). <b>Diário Oficial da União</b>, Brasília, 9 jun. 2014.
<br><br>
BRASIL. Ministério da Saúde. Portaria nº 2.191/GM/MS, de 03 de agosto de 2010. Institui critérios diferenciados com vistas à implantação, financiamento e manutenção da Estratégia de Saúde da Família para as populações ribeirinhas na Amazônia Legal e em Mato Grosso do Sul. <b>Diário Oficial da União</b>, Brasília, DF, Seção 1, 04 ago. 2009, p. 148-151.
<br><br>
BRASIL. Ministério da Saúde. Portaria nº 2.488/GM, de 21 de outubro de 2011. Aprova a Política Nacional de Atenção Básica, estabelecendo a revisão de diretrizes e normas para a organização da Atenção Básica, para a Estratégia Saúde da Família (ESF) e o Programa de Agentes Comunitários de Saúde (PACS). <b>Diário Oficial da União</b>, Brasília-DF, Seção 1, 24 out. 2011, p. 48-55.
<br><br>
BRASIL. Ministério da Saúde. Portaria nº 4.279, de 30 de dezembro de 2010. Estabelece diretrizes para a organização da Rede de Atenção à Saúde no âmbito do Sistema Único de Saúde - SUS. <b>Diário Oficial da União</b>, Brasília, DF, 31 dez. 2010.
<br><br>
BRASIL. Ministério da Saúde. Portaria nº 90/GM/MS, de 17 de janeiro de 2008.  Atualiza o quantitativo populacional de residentes em assentamentos da reforma agrária e de remanescentes de quilombos, por município, para cálculo do teto de equipes de Saúde da Família, modalidade I, e de equipes de Saúde Bucal da Estratégia Saúde da Família. <b>Diário Oficial da União</b>, Brasília, DF, Seção 1, 18 jan. 2008.
<br><br>
CAMPOS, G. B. <b>Avaliação Funcional das Marisqueiras da Comunidade de Tramataia (PB)</b>: Um Enfoque Fisioterapeutico e Etnoecologico. 2009. 145 f. Dissertação (Mestrado) - Curso de Mestrado em Desenvolvimento e Meio Ambiente, Universidade Federal da Paraíba, João Pessoa, 2009.
<br><br>
CAMPOS, G. W. S. Reflexões temáticas sobre eqüidade e saúde: o caso do SUS. <b>Saude soc</b>.,  São Paulo ,  v. 15, n. 2, Aug.  2006.
<br><br>
CASTRO, Edna Aparecida Barbosa de; CAMPOS, Estela Márcia Saraiva. Uma Discussão Sobre as Competências e Habilidades de Gestores no Âmbito do Sistema Público de Saúde. Revista Aps, Juiz de Fora, v. 6, n. 2, p.94-98, jul./dez. 2003. Disponível em: <http://www.ufjf.br/nates/files/2009/12/Gerencia1.pdf>. Acesso em: 22 nov. 2014.
<br><br>
COTTA, R. M. M., et al. Pobreza, injustiça e desigualdade social: repensando a formação de profissionais de saúde. <b>Revista Brasileira de Educação Médica</b>, Rio de Janeiro, v. 31, n. 3, p. 278-86, set./dez. 2007.
<br><br>
ESCOREL, S. Os dilemas da equidade em saúde: aspectos conceituais. Brasília, DF: OPAS, 2001.
<br><br>
FERNANDES, R.C.P. Precarização do Trabalho e Os Distúrbios Musculoesqueléticos. <b>Caderno CRH</b>, Salvador ,BA, v. 24, n. spe 01, p. 155-170, 2011.
<br><br>
FONSECA, N. R. Distúrbios Musculoesqueléticos em Trabalhadoras de Enfermagem. Dissertação de Mestrado (Mestrado em Saúde, Ambiente e Trabalho). Faculdade de Medicina da Bahia, Universidade Federal da Bahia, Salvador – BA, 2009.  
<br><br>
GIOVANELLA, L. et al. <b>Políticas e sistema de saúde no Brasil</b>. Rio de Janeiro: Fiocruz, 2012.
<br><br>
LIMA, J. C. Histórias das lutas sociais por saúde no Brasil. <b>Trabalho Necessário</b>, Rio de Janeiro, v.4, n. 4, p. 1-33, 2006.
<br><br>
MARTINS, J. S. <b>Os camponeses e a política no Brasil</b>: as lutas sociais no campo e seu lugar no processo político. Petrópolis: Vozes, 1981.
<br><br>
MONTEIRO, P.S, VIEIRA, A. B . Comunidade quilombola: análise do problema persistente do acesso à saúde, sob o enfoque da Bioética de Intervenção. <b>Saúde debate</b>,  Rio de Janeiro ,  v. 37, n. 99, dez.  2013.
<br><br>
PENA, Paulo Gilvane Lopes; MARTINS, Vera; REGO, Rita Franco. Por uma política para a saúde do trabalhador não assalariado: o caso dos pescadores artesanais e das marisqueiras. <b>Rev. bras. saúde ocup.</b>,  São Paulo ,  v. 38, n. 127, jun.  2013 .  
<br><br>
SPOSATI, A. exclusão social abaixo da linha do Equador. In: Verás, M.P.B (Ed) <b>Por uma sociologia da exclusão social</b>: o debate com Serge Paugam. São Paulo: Educ, 1999.
<br><br>
TRAVASSOS, C.; CASTRO, M.S.M. Determinantes e desigualdades sociais no acesso e na utilização de serviços de saúde. In: GIOVANELLA, L. et al. Políticas e sistema de saúde no Brasil. Rio de Janeiro, Fiocruz, 2008. <p class="215-243 ">	</p>