<ul>
  <li><a href="assets/pdf/comunidade_quilombola_analise_do_problema.pdf" target="_blank">VIEIRA, A. B. D; MONTEIRO, P.S. Comunidade quilombola: análise do problema persistente do acesso à saúde, sob o enfoque da Bioética de Intervenção. <b>Saúde debate</b>,  Rio de Janeiro ,  v. 37, n. 99, dez.  2013.</a> </li>
  <br>
  <li><a href="assets/pdf/reflexoes_tematicas_sobre_equidade_e_saude.pdf" target="_blank">CAMPOS, Gastão Wagner de Sousa. Reflexões temáticas sobre eqüidade e saúde: o caso do SUS. Saude soc.,  São Paulo ,  v. 15, n. 2, ago.  2006.</a></li>
  <br>
  <li><a href="assets/pdf/por_uma_politica_para_a_saude_do_trabalhador.pdf" target="_blank">PENA, P. G. L; MARTINS, V.; REGO, R. F. Por uma política para a saúde do trabalhador não assalariado: o caso dos pescadores artesanais e das marisqueiras. <b>Rev. bras. saúde ocup.</b>,  São Paulo ,  v. 38, n. 127, jun.  2013.</a></li>
  <br>
  <li><a href="http://www.palmares.gov.br/?page_id=88" target="_blank">Mapa dos Quilombolas</a></li>
</ul>
