/* REVISTA DA UNIDADE 1 */
.red-slide {
	width: 311px;
	height: 450px;
    background-image: url(../../assets/img/pages/01.png);
    background-repeat: no-repeat;
}
.blue-slide {
    width: 311px;
	height: 450px;
    background-image: url(../../assets/img/pages/02.png);
    background-repeat: no-repeat;
}
.orange-slide {
  width: 311px;
	height: 450px;
    background-image: url(../../assets/img/pages/03.png);
    background-repeat: no-repeat;
}
.green-slide {
  width: 311px;
	height: 450px;
    background-image: url(../../assets/img/pages/04.png);
    background-repeat: no-repeat;
}
.pink-slide {
  width: 311px;
	height: 450px;
    background-image: url(../../assets/img/pages/05.png);
    background-repeat: no-repeat;
}
.pg6-slide {
	width: 311px;
	height: 450px;
    background-image: url(../../assets/img/pages/06.png);
    background-repeat: no-repeat;
}
.pg7-slide {
	width: 311px;
	height: 450px;
    background-image: url(../../unid_02/tema_02/imgs/pages/p6.png);
    background-repeat: no-repeat;
}

.pg8-slide {
	width: 311px;
	height: 450px;
    background-image: url(../../unid_02/tema_02/imgs/pages/p7.png);
    background-repeat: no-repeat;
}

.pg9-slide {
	width: 311px;
	height: 450px;
    background-image: url(../../unid_02/tema_02/imgs/pages/p8.png);
    background-repeat: no-repeat;
}

.pg10-slide {
	width: 311px;
	height: 450px;
    background-image: url(../../unid_02/tema_02/imgs/pages/p9.png);
    background-repeat: no-repeat;
}

.pg11-slide {
	width: 311px;
	height: 450px;
    background-image: url(../../unid_02/tema_02/imgs/pages/p10.png);
    background-repeat: no-repeat;
}

.pg12-slide {
	width: 311px;
	height: 450px;
    background-image: url(../../unid_02/tema_02/imgs/pages/p11.png);
    background-repeat: no-repeat;
}

.pg13-slide {
	width: 311px;
	height: 450px;
    background-image: url(../../unid_02/tema_02/imgs/pages/p12.png);
    background-repeat: no-repeat;
}

.pg14-slide {
	width: 311px;
	height: 450px;
    background-image: url(../../unid_02/tema_02/imgs/pages/p13.png);
    background-repeat: no-repeat;
}

.pg15-slide {
	width: 311px;
	height: 450px;
    background-image: url(../../unid_02/tema_02/imgs/pages/p14.png);
    background-repeat: no-repeat;
}

.pg16-slide {
	width: 311px;
	height: 450px;
    background-image: url(../../unid_02/tema_02/imgs/pages/p15.png);
    background-repeat: no-repeat;
}

.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
.pagination {
  position: relative;
  z-index: 20;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222 !important;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #CCC !important;
}