* {
  font-family: 'Open Sans', sans-serif;
}
.azul{color:#A7CCDF}

.navbar {
  margin-bottom:10px;
}
.label-brasil {
  background:#F8F8F8;
  border-bottom:1px solid #ddd;
}
.navbar-brasil {
  min-height:25px;
  margin-bottom: 0;
  padding-top: 5px;
  font-size: .8em;
}
.navbar-link-color {
  color:#351613;
}

.navbar-collapse {
  padding:0;
}
.links{ font-size:12px; font-weight:normal; color:#212020; text-decoration:none;}

.unid-ativa{background-color:#F4E3C3;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color:#F4E3C3;
}

.text-detail{color:#351613 !important;}

.navbar-default {background:#FFFFFF}

.navbar-default .navbar-nav > li > a {
  color:#351613 !important;
}

#informacao {
  display: none;
}

/*
  HEADER
*/
.nuteds-jumbotron {
  background: url("../images/background_header.svg") no-repeat, #fde0ab; /* Old browsers */
  background: url("../images/background_header.svg") no-repeat, -moz-linear-gradient(top,  #fde0ab 0%, #fcc076 50%, #f89e42 100%); /* FF3.6+ */
  background: url("../images/background_header.svg") no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fde0ab), color-stop(50%,#fcc076), color-stop(100%,#f89e42)); /* Chrome,Safari4+ */
  background: url("../images/background_header.svg") no-repeat, -webkit-linear-gradient(top,  #fde0ab 0%,#fcc076 50%,#f89e42 100%); /* Chrome10+,Safari5.1+ */
  background: url("../images/background_header.svg") no-repeat, -o-linear-gradient(top,  #fde0ab 0%,#fcc076 50%,#f89e42 100%); /* Opera 11.10+ */
  background: url("../images/background_header.svg") no-repeat, -ms-linear-gradient(top,  #fde0ab 0%,#fcc076 50%,#f89e42 100%); /* IE10+ */
  background: url("../images/background_header.svg") no-repeat, linear-gradient(to bottom,  #fde0ab 0%,#fcc076 50%,#f89e42 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fde0ab', endColorstr='#f89e42',GradientType=0 ); /* IE6-9 */
  background-position: right bottom;
  min-height:110px;
}
.img-nuteds-logo {
  vertical-align: middle !important;
  display: inline-block !important;
  padding-top: 20px;
}
.img-nuteds {
  vertical-align: middle !important;
  display: inline-block !important;
  padding-top: 20px;
}
.titulo-curso {
color: #B64426;
font-size: 1.7em;
font-weight: normal;
padding-top: 24px;
}

.hr-menor{

 color:#B64426 !important;
 height:2px;
 }
/*
  Content
*/
.content-box {
  border-radius:5px;
  border:1px solid #e6e6e6;
  padding:10px 10px 10px 10px;
  text-align:justify;
  margin-bottom:30px;
}
.titulo-box {
  color:#4d4d4d;
  padding:0 0 10px 0;
  font-size:1.3em;
  font-weight: normal;
  border-bottom: 1px solid #e6e6e6;
}
/*
  Menu
*/
.nuteds-ul {
  margin:0;
  list-style: none;
  padding:0;
}
.nuteds-li {
  margin-bottom:10px;
}
.menu-link-color {
  color: #351613 !important;
  text-decoration: none;
}
.menu-link-color:hover {
  color: #351613 !important
  text-decoration: none;
}
/*
  Footer
*/
.footer-cf {
  border-top:1px solid #e6e6e6;
  max-height:100px;
  padding:12px;
  margin-top:1%;
}

/*
  Components
*/

.atividade-titulo {
  font-size: 1em;
  /*font-family: 'Roboto' ;*/
}

.text-modal {
  font-size: 1.2em;
  color:#C27E32;
}


.btn-customized {
  color: #fff;
  background-color: #006B8C;
  border-color: #006B8C;
}
.btn-customized:hover,
.btn-customized:focus,
.btn-customized:active,
.btn-customized.active,
.open .dropdown-toggle.btn-customized {
  color: #fff;
  background-color: #a7ccdf;
  border-color: #006B8C;
}
.btn-customized:active,
.btn-customized.active,
.open .dropdown-toggle.btn-customized {
  background-image: none;
}
.btn-customized.disabled,
.btn-customized[disabled],
fieldset[disabled] .btn-customized,
.btn-customized.disabled:hover,
.btn-customized[disabled]:hover,
fieldset[disabled] .btn-customized:hover,
.btn-customized.disabled:focus,
.btn-customized[disabled]:focus,
fieldset[disabled] .btn-customized:focus,
.btn-customized.disabled:active,
.btn-customized[disabled]:active,
fieldset[disabled] .btn-customized:active,
.btn-customized.disabled.active,
.btn-customized[disabled].active,
fieldset[disabled] .btn-customized.active {
  background-color: #a7ccdf;
  border-color: #006B8C;
}
.btn-customized .badge {
  color: #a7ccdf;
  background-color: #fff;
}
.questionWrong {
  color:red;
  font-weight: bold;
}
.questionRight {
  color:green;
  font-weight: bold;
}
/*
  Media Queries
*/
@media (max-width: 480px) {
  .img-nuteds {width:100% !important; height:80px;}
  .titulo-curso {text-align: center;box-shadow: 1px 1px 2px #000; background:rgba(255,255,255,0.5); padding: 5px;}
  .margin-left-25 {margin-left:25%;}
  .prism-titulo span {display:none;}
  .prism-hack {display:table !important;vertical-align:middle;min-height:50px;}
  .prism-hack-6 {min-height:70px !important;}
  .hack-farmacologia-tabela-tamanho {min-height:95px;}
  .hack-remedio {min-height: 140px;}
  .hack-livros-u2-t3 {min-height: 150px;}
}
@media (max-width: 768px) {
  .navbar-collapse {
    padding-left:15px !important;
  }
  .navbar-nav li::after {
    content: "";
    display: block;
    height: 1px;
    background: #ddd;
    margin-top: 10px;
    margin-bottom:10px;
    margin-left:-15px;
  }
}


@media (max-width: 630px) {
  .text-menu, .text-learning-menu {display: none;}
  .icon-menu {width: 100% !important; text-align: center;}
  .nuteds-li {padding-top:10px;}
  .img-nuteds {vertical-align: middle;  width:10%; height:20%;}
  .margin-left-25 {margin-left:25%;}
  .display-phone {display:none;}
  .hack-espaco-direita {border-right:0}
  #mybook{display: none;}
  .swiper-container {width: 311px;height: 450px;color: #fff;text-align: center;}
  .swiper-container, .swiper-wrapper, .swiper-slide, .pagination{display: inline-block !important;}
  .right-center {text-align:center !important;}
  .left-center {text-align:center !important;}
  .nuteds-menu {float:none !important;}
  .nuteds-menu li {width:13% !important; text-align:center !important;}
  .nuteds-menu li a img {display:inline !important;}
  .videos {height: auto !important;}
}

@media (min-width: 631px) {
  .swiper-container {display:none;}
  /*.right-center {text-align:center !important;}
  .left-center {text-align:center !important;}*/
}


@media (max-width: 992px) {
  .tabela-espaco-cel {border-right:5px solid #fff;}
  .nuteds-li{float:left; width:25%;}
  .icon-menu {float:left;}
  .text-menu {width: auto !important;padding-top: 12px !important;}
  .img-nuteds {vertical-align:middle; width:112px;}
  .content-box-top {margin-top:30px;}
  .borda-menu {border-left:0 !important; border-top:1px solid #eee;padding-top:15px;}
  .conclusao-padding {padding-top:20px;}
  .hack-coracao {min-height:90px;}
  .img-unidade-status {width:165px !important;height:165px !important;display:inline !important;}
  .img-unidade-align {text-align: center;}
  .img-check {position:relative; width:40px; height:40px; top:60px !important;left:-50px !important}
  .img-check-small {position:relative; width:40px !important; height:40px !important; top:60px !important;left:-50px !important}
}

@media (max-width: 1200px) {
  .tabela-espaco-cel {border-right:5px solid #fff;}
  .icon-menu{margin:0 auto; width: 45px;}
  .text-menu {padding-top: 5px; width: 100%; text-align: center;}
  .text-learning-menu {padding-top: 5px; width: 100%; text-align: center;}
  .img-nuteds {vertical-align: middle !important;display: inline-block !important; padding-top: 25px; width:100%}
  .infografico-espaco {padding:0;}
  .prism-hack {display:table !important;vertical-align:middle;min-height:50px;}
}

@media (min-width: 1201px) {
    .tabela-espaco-cel {
  border-right:5px solid #fff;
}
  .icon-menu {float: left;}
  .text-menu {float:left; padding:12px 0 0 12px;}
  .text-learning-menu {float:left; padding:3px 0 0 12px;}
  .nuteds-li {margin-bottom: 40px;}
  .nuteds-li:last-child {margin-bottom: 0 !important;}
  .img-nuteds {vertical-align: middle !important;display: inline-block !important; padding-top: 25px; width:100%}
}

/* Hacks */
.img-hack {
    display: inline !important;
}


.sombra {
  position: relative;
}

.sombra:before, .sombra:after {
  z-index:-5;
  position: absolute;
  content: "";
  bottom: 12px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #FFF;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.sombra:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.hr-divisor {
  border:1px solid #D9A192 !important;
}

.hr-divisorx2 {
  border-bottom:2px solid #B74427 !important;
  margin:0;
  padding:0;
}

.link-unidade{
    color: #B64426;
    font-size: 1.1em;
    font-weight: normal;
  font-weight:bold;
}
.link-unidade:hover{
  text-decoration: none;
  color: #B64426;
}

.nuteds-marcador, .nuteds-menu {
  list-style:none;
  margin:0 !important;
  padding:0 !important;
}

.nuteds-menu {
  float:right;
}

/*.nuteds-marcador li {
  background:url(../images/marcador.svg) no-repeat;
  padding-top:45px;
  padding-left:16px;
  height:76px;
  width:40px;
  float:left;
}*/

.progress {
  margin-bottom:0;
  padding:5px 10px;
  height: 30px;
}

.img-unidade-align {
  text-align: center;
}

.img-unidade-status {
  width:100%;
    height:100%;
    display:block;
}

.img-check {
  position:relative; width:40px; height:40px; top:-40px;left:32.72%
}

.img-check-small {
  position:relative; width:20px; height:20px; top:-20px;left:35%
}

.right-center {
  text-align:right;
}

.left-center {
  text-align:left;
}

.nuteds-menu li {
  float:left;
  padding:10px;
}

.hr-divisor-div {
  border-bottom:2px solid #B74427 !important;
}

.unid-title {
  text-transform: uppercase;
}

.videos {
  width: 100%;
  height:409px;
}

.cruzada {
  width: 100%;
  height:820px;
}

.padding40-top{ padding-top:40px;}

.infographic-dw {
  max-width: 480px !important;
  max-height: 480px !important;
  display: inline !important;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.mosaic-badge {
  width: 150px;
  height: 150px;
}

.campo {
  color:#333;
}

.campo:hover {
  color:#333;
}

.ferramenta {
  background:#F5F5F5;
  border-radius: 20px;
  padding:5px 20px;
}

/*campos */

.ferramenta-campos {
  background:#DBC4B9;
  border-radius: 20px;
  padding:5px 20px;
}
.btn-warning-campos {
    color: #fff;
    background-color: #6C3506;
    border-color: #6C3506;
    font-weight:bold;
}

.box-campos{
    background-color:#DBC4B9;
  padding:15px;
}

.tb-campos-escuro{
   background-color:#6C3506 !important;
     color:#FFFFFF !important;
     font-weight:bold;
}

.bg-campos{ background:#DBC4B9 !important ; }


.ferramenta-floresta {
  background:#CFE7C1;
  border-radius: 20px;
  padding:5px 20px;
}
.btn-warning-floresta {
    color: #fff;
    background-color: #669916;
    border-color: #669916;
    font-weight:bold;
}

.box-floresta{
    background-color:#CFE7C1;
  padding:15px;
}

.tb-floresta-escuro{
   background-color:#669916 !important;
     color:#FFFFFF !important;
     font-weight:bold;
}

.bg-floresta{ background:#CFE7C1 !important ; }


/*águas */

.ferramenta-agua {
  background:#B5E5EF;
  border-radius: 20px;
  padding:5px 20px;
}
.btn-warning-agua {
    color: #fff;
    background-color: #0099B7;
    border-color: #0099B7;
    font-weight:bold;
}

.box-agua{
    background-color:#B5E5EF;
  padding:15px;
}

.tb-agua-escuro{
   background-color:#0099B7 !important;
     color:#FFFFFF !important;
     font-weight:bold;
}

.bg-agua{ background:#B5E5EF !important ; }

#conteudo-box {
  background-color: #fdddc8;
  padding: 10px;
  min-height: 300px;
}

.dengue-texto {
  background: #F5E6D1;
  text-align: justify;
  padding:10px;
}


@media (min-width: 992px) {
  .dengue-imagem-format {
    position: relative;
    left:30px;
    z-index: 10;
    top:-50px;
  }
}

img[usemap], map area{
    outline: none;
}

.texto-modal{font-size:18px; font-family:Verdana;  font-weight: lighter !important; text-align: justify;}
.ul-questao li {font-size:18px; font-family:Verdana;  font-weight: lighter !important; text-align: justify;}
.bolinhas {font-size:18px; font-family:Verdana;  font-weight: lighter !important; text-align: justify;}

.table-title {
  background: #F8F8F8;
  color: #b74427;
}

.modal-body {
  max-height: 600px;
  overflow-y: auto;
}