BARCELLOS, C. Organização espacial, saúde e qualidade de vida. In: I SEMINÁRIO NACIONAL SAÚDE E AMBIENTE NO PROCESSO DE DESENVOLVIMENTO, 2000, Rio de Janeiro. Rio de Janeiro: Fiocruz, 2000. v.2. p.27-34.
<br><br>
BARROS, Nelson Filice de; SIEGEL, Pâmela; SIMONI, Carmen De. Política Nacional de Práticas Integrativas e Complementares no SUS: passos para o pluralismo na saúde. <b>Cad. Saúde Pública</b>,  Rio de Janeiro ,  v. 23, n. 12, Dec.  2007 .
<br><br>
BRASIL. Ministério da Saúde. <b>Politica Nacional de Saúde Integral das Populações do Campo, da Floresta e das Águas</b>. Brasília, 2013.
<br><br>
BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Departamento de Atenção Básica. <b>Política Nacional de Práticas Integrativas e Complementares no SUS - PNPIC-SUS</b>. Brasília: Ministério da Saúde, 2006.
<br><br>
BRASIL. Ministério da Saúde. Secretaria de Vigilância em Saúde. Situação epidemiológica da malária no Brasil, 2000 a 2011. Boletim Epidemiológico., v. 44, n. 1, 2013. Disponível em: http://bvsms.saude.gov.br/bvs/periodicos/boletim_epidemiologico_numero_1_2013.pdf. Acesso em: 22 nov. 2014.
<br><br>
BRASIL. Portaria nº 971, de 03 de maio de 2006. Aprova a Política Nacional de Práticas Integrativas e Complementares (PNPIC) no Sistema Único de Saúde. Brasília, 2006. Disponível em: http://bvsms.saude.gov.br/bvs/saudelegis/gm/2006/prt0971_03_05_2006.html. Acesso em: 04 set. 2014.
<br><br>
FUNDAÇÃO NACIONAL DE SAÚDE. Doença de Chagas. 2013. Disponível em: http://www.agencia.fiocruz.br/doença-de-chagas. Acesso em: 04 set. 2014.
<br><br>
FUNDAÇÃO NACIONAL DE SAÚDE. Saneamento Rural. 2013. Disponível em: http://www.funasa.gov.br/site/engenharia-de-saude-publica-2/saneamento-rural/#prettyPhoto. Acesso em: 04 set. 2014.
<br><br>
IBGE. Dados sobre População do Brasil, PNAD. 2012.
<br><br>
IBGE. Instituto Brasileiro de Geograﬁa e Estatística. <b>Censo Demográﬁco 2010</b> - Características da população e dos domicílios. Resultados do universo. Rio de Janeiro: IBGE, 2011.