<ul>
 <li><a href="assets/pdf/o_territorio_na_saude_construindo_referencias_para_analises_em_saude_e_ambiente.pdf" target="_blank">MONKEN, M. et al. O território na saúde: construindo referências para análises em saúde e ambiente. In.: Miranda, A.C. et al (Org.). <b>Território, ambiente e saúde</b>. Rio de Janeiro: Fiocruz, 2008.</a> </li>
 <br>
 <li><a href="assets/pdf/politica_nacional_de_praticas_integrativas_e_complementares_no_sus.pdf" target="_blank">BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Departamento de Atenção Básica. <b>Política Nacional de Práticas Integrativas e Complementares no SUS</b>. Brasília, 2006.</a></li>
</ul>

