<!-- Cabeçalho -->
<info
  unidade="1"
  atividade="Atividade 1"
  unome="MODOS DE VIDA E SITUAÇÃO DE SAÚDE"
  anome="Atividade 1 - Ambiente e Saúde">
</info>
<!-- Conteúdo -->
<div class="col-md-8 col-md-offset-2 static">
  <div class="content-box">
    <div class="row">
      <div class="col-md-12 text-center">
       <p class="text-center"><small>(aperte o play e assista ao vídeo)</small></p>
       <iframe class="videos" src="https://www.youtube.com/embed/sW-tiFGOeWo?wmode=transparent&showinfo=0&rel=0&autohide=1" frameborder="0" wmode="Opaque" allowfullscreen>
       </iframe>
      </div>
    </div>
  </div>
</div>
<!-- Páginação -->
<paginas
  previous="contextualizacao/1"
  anterior="CONTEXTUALIZAÇÃO"
  next="atividade_1/2">
</paginas>
<!-- Modais -->
<modal target="politica" titulo="Políticas">
  <div ng-include src="'views/curso/modal/politica.html'"></div>
</modal>
<modal target="material-de-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/unidade_1/atividade_1/modal/material_de_apoio.html'"></div>
</modal>
<modal target="saiba-mais" titulo="Saiba Mais">
  <div ng-include src="'views/unidade_1/atividade_1/modal/saiba_mais.html'"></div>
</modal>
<modal target="referencias" titulo="Referências" tamanho="modal-lg">
  <div ng-include src="'views/unidade_1/atividade_1/modal/referencias.html'"></div>
</modal>
<modal target="caixa-de-ferramentas" titulo="Caixa de Ferramentas">
  <div ng-include src="'views/curso/modal/caixa_de_ferramentas.html'"></div>
</modal>
<modal target="jogos" titulo="Jogos">
  <div ng-include src="'views/curso/modal/jogos.html'"></div>
</modal>