<script>
  createQuestion(1, "contentQuestion");
</script>
<!-- Cabeçalho -->
<info
  unidade="1"
  atividade="Atividade 1"
  unome="MODOS DE VIDA E SITUAÇÃO DE SAÚDE"
  anome="Atividade 1 - Ambiente e Saúde">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
  <div class="row">
    <div class="col-md-7 static">
      <div class="content-box">
        <div class="row">
          <div class="col-md-12 text-center">
            <h4>Determinação da saúde (Medicina social)</h4>
           <img src="assets/images/unidade_1/atv1_sabroza.png" class="img-responsive infographic-dw" alt="">
           <br>
           <p><small>Fonte: Sabroza (2001)</small></p>
           <p class="text-center">A complexidade do Processo de Saúde e Doença.</p>
           <p class="text-justify">A saúde é um sistema complexo, em que se articulam diversas dimensões, das quais, estão à biológica, psicológica, econômica, social, cultural, individual, coletiva, etc. Para Sabroza (2001) essas dimensões necessitam de uma avaliação em diferentes níveis de organização da vida, tais como: o molecular, o celular, o individual, do grupo social, da sociedade e o global.</p>
            <p class="text-justify">O processo saúde-doença, reconhecido a partir da posição do observador aparece de diversas maneiras.</p>
            <p class="text-justify">• No nível individual: alteração fisiopatológica, sofrimento e representação (mediada por valores culturais); <br>
            •  No nível coletivo: possui uma expressão populacional (demográfica, ecológica), cultural (conjunto de regras) e espacial (organização e disposição).</p>
            <p class="text-justify">Nas sociedades, esse mesmo processo aparece como problemas de saúde pública, na interface com o Estado, entre particular e público e entre o individual e o coletivo, sempre se dará a interseção de duas.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5" id="dynamic">
      <div class="content-box margin-top">
        <h6 class="titulo-box"><a onclick="expandir2();" href="javascript:void(0);" class="text-modal"><span class="glyphicon glyphicon-resize-full size"></span></a> Questão</h6>
        <div id="contentQuestion"></div>
      </div>
    </div>
  </div>
</div>
<!-- Paginação -->
<paginas
  previous="atividade_1/1"
  next="atividade_1/3">
</paginas>
<!--  Modais -->
<modal target="politica" titulo="Políticas">
  <div ng-include src="'views/curso/modal/politica.html'"></div>
</modal>
<modal target="material-de-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/unidade_1/atividade_1/modal/material_de_apoio.html'"></div>
</modal>
<modal target="saiba-mais" titulo="Saiba Mais">
  <div ng-include src="'views/unidade_1/atividade_1/modal/saiba_mais.html'"></div>
</modal>
<modal target="referencias" titulo="Referências" tamanho="modal-lg">
  <div ng-include src="'views/unidade_1/atividade_1/modal/referencias.html'"></div>
</modal>
<modal target="caixa-de-ferramentas" titulo="Caixa de Ferramentas">
  <div ng-include src="'views/curso/modal/caixa_de_ferramentas.html'"></div>
</modal>
<modal target="jogos" titulo="Jogos">
  <div ng-include src="'views/curso/modal/jogos.html'"></div>
</modal>
<!-- Extra Modal -->
<modal target="modal-objetivos" titulo="Principais Agravos" tamanho="modal-lg">
  <div ng-include src="'views/unidade_1/atividade_1/modal/objetivos.html'"></div>
</modal>