<script src="assets/js/text.audio.js"></script>
<script>
  callAudio(0);
  createQuestion(2, "contentQuestion");
</script>
<!-- Cabeçalho -->
<info
  unidade="1"
  atividade="Atividade 1"
  unome="MODOS DE VIDA E SITUAÇÃO DE SAÚDE"
  anome="Atividade 1 - Ambiente e Saúde">
</info>
<!-- Conteúdo -->
<!-- Content -->
  <div class="col-md-7 static">
    <div class="content-box">
      <div class="row">
        <div class="col-md-12 text-center">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active" id="first-slide">
                <p>Distribuição dos Conflitos por Estado e Região</p>
                <img src="assets/images/unidade_1/atv1_tabela_1.png" class="img-responsive">
                <p><small>FONTE: Fundação Oswaldo Cruz. Mapa de conflitos envolvendo injustiça ambiental e saúde no Brasil. [Citado em 04 de setembro de 2014] Disponível em: <a href="http://www.conflitoambiental.icict.fiocruz.br/index.php" target="_blank" class="link-unidade">clique aqui</a> consultado em 09/10/14</small></p>
                <div class="audio"></div>
              </div>
              <div class="item">
                <p>Populações Atingidas</p>
                <img src="assets/images/unidade_1/atv1_tabela_2.png" class="img-responsive">
                <p><small>FONTE: Fundação Oswaldo Cruz. Mapa de conflitos envolvendo injustiça ambiental e saúde no Brasil. [Citado em 04 de setembro de 2014] Disponível em: <a href="http://www.conflitoambiental.icict.fiocruz.br/index.php" target="_blank" class="link-unidade">clique aqui</a> consultado em 09/10/14</small></p>
                <div class="audio"></div>
              </div>
              <div class="item">
                <p>Principais impactos e danos ambientais</p>
                <img src="assets/images/unidade_1/atv1_tabela_3.jpg" class="img-responsive">
                <p><small>FONTE: Fundação Oswaldo Cruz. Mapa de conflitos envolvendo injustiça ambiental e saúde no Brasil. [Citado em 04 de setembro de 2014] Disponível em: <a href="http://www.conflitoambiental.icict.fiocruz.br/index.php" target="_blank" class="link-unidade">clique aqui</a> consultado em 09/10/14</small></p>
                <div class="audio"></div>
              </div>
              <div class="item">
                <p>Principais riscos e danos a saúde</p>
                <img src="assets/images/unidade_1/atv1_tabela_4.jpg" class="img-responsive">
                <p><small>FONTE: Fundação Oswaldo Cruz. Mapa de conflitos envolvendo injustiça ambiental e saúde no Brasil. [Citado em 04 de setembro de 2014] Disponível em: <a href="http://www.conflitoambiental.icict.fiocruz.br/index.php" target="_blank" class="link-unidade">clique aqui</a> consultado em 09/10/14</small></p>
                <div class="audio"></div>
              </div>
              <div class="item" id="last-slide">
                <p>Causas/Atividades responsáveis pelo conflito</p>
                <img src="assets/images/unidade_1/atv1_tabela_5.jpg" class="img-responsive">
                <p><small>FONTE: Fundação Oswaldo Cruz. Mapa de conflitos envolvendo injustiça ambiental e saúde no Brasil. [Citado em 04 de setembro de 2014] Disponível em: <a href="http://www.conflitoambiental.icict.fiocruz.br/index.php" target="_blank" class="link-unidade">clique aqui</a> consultado em 09/10/14</small></p>
                <div class="audio"></div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="left: -95px;">
              <span class="glyphicon glyphicon-chevron-left" style="margin-left:0 !important;"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="right: -38px; z-index:999;">
              <span class="glyphicon glyphicon-chevron-right" style="margin-right:-50px !important;"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5" id="dynamic">
    <div class="content-box margin-top">
      <h6 class="titulo-box"><a onclick="expandir2();" href="javascript:void(0);" class="text-modal"><span class="glyphicon glyphicon-resize-full size"></span></a> Questão</h6>
      <div id="contentQuestion"></div>
    </div>
  </div>
<!-- Páginação -->
<paginas
  previous="atividade_1/2"
  next="atividade_1/4">
</paginas>
<!-- Modais -->
<modal target="politica" titulo="Políticas">
  <div ng-include src="'views/curso/modal/politica.html'"></div>
</modal>
<modal target="material-de-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/unidade_1/atividade_1/modal/material_de_apoio.html'"></div>
</modal>
<modal target="saiba-mais" titulo="Saiba Mais">
  <div ng-include src="'views/unidade_1/atividade_1/modal/saiba_mais.html'"></div>
</modal>
<modal target="referencias" titulo="Referências" tamanho="modal-lg">
  <div ng-include src="'views/unidade_1/atividade_1/modal/referencias.html'"></div>
</modal>
<modal target="caixa-de-ferramentas" titulo="Caixa de Ferramentas">
  <div ng-include src="'views/curso/modal/caixa_de_ferramentas.html'"></div>
</modal>
<modal target="jogos" titulo="Jogos">
  <div ng-include src="'views/curso/modal/jogos.html'"></div>
</modal>