<!-- Cabeçalho -->
<info
  unidade="1"
  atividade="Atividade 1"
  unome="Modos de vida e situação de saúde"
  anome="Atividade 1 - Ambiente e Saúde">
</info>
<!-- Conteúdo -->
<div class="col-md-12 static">
  <div class="content-box">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center" style="background:#FBCEA1">
        <div class="row">
          <div class="col-md-3">
            <br><br>
            <img src="assets/images/books.svg" alt="" width="144" height="113">
            <br><br>
          </div>
          <div class="col-md-9">
            <br>
            <p class="text-left h4"><span><b>PARABÉNS!</b></span> </p>
            <p class="text-justify" h5> Você chegou ao final da Atividade 1. <br><br> Para ir para a Atividade 2, clique no botão avançar. <br> <br>Caso queira retornar a Atividade 1, clique no botão retornar no menu inferior desta tela.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Páginação -->
<paginas
  previous="atividade_1/1"
  next="atividade_2/1">
</paginas>
<!-- Modais -->
<modal target="politica" titulo="Políticas">
  <div ng-include src="'views/curso/modal/politica.html'"></div>
</modal>
<modal target="material-de-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/unidade_1/atividade_1/modal/material_de_apoio.html'"></div>
</modal>
<modal target="saiba-mais" titulo="Saiba Mais">
  <div ng-include src="'views/unidade_1/atividade_1/modal/saiba_mais.html'"></div>
</modal>
<modal target="referencias" titulo="Referências" tamanho="modal-lg">
  <div ng-include src="'views/unidade_1/atividade_1/modal/referencias.html'"></div>
</modal>
<modal target="caixa-de-ferramentas" titulo="Caixa de Ferramentas">
  <div ng-include src="'views/curso/modal/caixa_de_ferramentas.html'"></div>
</modal>
<modal target="jogos" titulo="Jogos">
  <div ng-include src="'views/curso/modal/jogos.html'"></div>
</modal>