<ul>
	<li><a href="http://www.conflitoambiental.icict.fiocruz.br/index.php?pag=resumo" target="_blank">Mapa de conflitos envolvendo injustiça ambiental e saúde no Brasil. Síntese dos principais resultados.</a> </li>
</ul>