<ul>
 <li><a href="assets/pdf/politica.pdf" target="_blank">Política Nacional de Saúde Integral das Populações do Campo e da Floresta</a> </li>
 <li><a href="assets/pdf/pnab.pdf" target="_blank">Politica Nacional de Atenção Básica (PNAB) </a> </li>
 <li><a href="assets/pdf/plano_nacional_saude_2012_2015.pdf" target="_blank">Plano Nacional de Saúde – 2012/2015 (PNS)</a> </li>
 <li><a href="assets/pdf/pnpic.pdf" target="_blank">Politica Nacional de Práticas Integrativas e Complementares no SUS (PNPIC)</a> </li>
 <li><a href="assets/pdf/PT-09-CONS.pdf" target="_blank">Política Nacional de Atenção Integral à Saúde do Homem (PNAISH)</a> </li>
 <li><a href="assets/pdf/Politica-nacional-da-pessoa-Idosa-2-(PNPI).pdf" target="_blank">Politica Nacional de Saúde da Pessoa Idosa (PNPI)</a> </li>
 <li><a href="assets/pdf/politica_mulher.pdf" target="_blank">Politica Nacional de atenção Integral á Saúde da Mulher (PNAISM)</a> </li>
 <li><a href="assets/pdf/politica_nacional_saude_populacao_negra.pdf" target="_blank">Politica Nacional de Saúde Integral da População Negra (PNSIPN)</a> </li>
 <li><a href="assets/pdf/Portaria_2728_12092014.pdf" target="_blank">Portaria GM/MS 2.728/2009 Rede Nacional de Atenção Integral  a Saúde do Trabalhador (RENAST)</a> </li>
 <li><a href="assets/pdf/L8080.pdf" target="_blank">Decreto nº 7.508/2011 – Regulamentação da Lei nº 8.080/90</a> </li>
 <li><a href="assets/pdf/contrato_organizativo_acao_publica_saude.pdf" target="_blank">Contrato Organização de Ação Pública (COAP)</a> </li>
 <li><a href="assets/pdf/L1823.pdf" target="_blank">Politica Nacional de Saúde Integral do Trabalhador e da Trabalhadora (PNSITT)</a> </li>
 <li><a href="assets/pdf/PoliticaNacionalEducPermanenteSaude_V9.pdf" target="_blank">Politica Nacional de Educação Permanente em Saúde (PNEPS)</a> </li>
 <li><a href="assets/pdf/L2761.pdf" target="_blank">Politica Nacional de Educação Popular em Saúde no SUS (PNEPS-SUS)</a> </li>
 <li><a href="assets/pdf/CNSA_Relatorio_Final.pdf" target="_blank">Diretrizes da 1ª Conferência Nacional de Saúde Ambiental (1ª CNSA) </a> </li>
 <li><a href="assets/pdf/Alimentacao-e-Nutricao-2.pdf" target="_blank">Plano Plurianual de Alimentação e Nutrição (PNAN)</a> </li>
 <li><a href="assets/pdf/politica_nacional_promocao_igualdade_racial.pdf" target="_blank">Politica Nacional de Promoção da Igualdade Racial (PNPIR)</a> </li>
 <li><a href="assets/pdf/Planapo_Final.pdf" target="_blank">Politica Nacional de Agroecologia e Produção Orgânica (PNAPO)</a> </li>
 <li><a href="assets/pdf/Documento_de_Referência_Final_-_2CNDRSS.pdf" target="_blank">Relatório da Conferência de Desenvolvimento Rural e Sustentável (CDRS)</a> </li>
 <li><a href="assets/pdf/Decreto_de_25_03_2008_-_Institui_o_Programa_Territorios_da_Cidadania.pdf" target="_blank">Territórios da Cidadania (TC)</a> </li>
 <li><a href="assets/pdf/plansab_06-12-2013.pdf" target="_blank">Politica Nacional de Saneamento </a> </li>
 <li><a href="assets/pdf/politica_nacional_saude_lesbicas_gays.pdf" target="_blank">Politica Nacional de Saúde Integral de Lésbicas, Gays, Bissexuais, Travestis e Transexuais.</a></li>
</ul>
