<script type="text/javascript">
  $(function() {
    $('.moodle').click(function() {
      window.top.location.href = "https://ufc.unasus.gov.br/ava/course/view.php?id=754";
    });
  });
</script>
<div class="col-md-12">
<div class="row">
<!-- Content -->
  <div class="col-md-12 static">
    <div class="content-box margin-top">
      <h3 class="text-center">Parabéns!</h6>
      <hr>
      <div class="clearfix">
        <div class="col-md-2 col-md-offset-5">
          <img src="assets/images/capa.png" alt="" class="img-circle img-unidade-status  clearfix" height="165" width="165">
        </div>
      </div>
      <br>
      <p class="text-center"><b>PARABÉNS! Você chegou ao final da Unidade 1.</b></p>
      <p class="text-center">Lembre-se: a Unidade só é considerada como concluída após a realização das atividades que foram apresentadas no decorrer desta.</p>
      <p class="text-center">Caso você já tenha realizado todas as atividades dessa unidade, clique no botão a seguir para voltar ao AVA e iniciar os estudos da próxima unidade.</p>
      <p class="text-center">
        <a href="javascript:void(0);" class="btn btn-warning moodle">Voltar para o AVA</a>
      </p>
    </div>
  </div>
</div>
</div>