<div class="col-md-12">
  <!--  -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <hr class="hr-divisorx2">
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-md-12 text-center">
      <h5 class="unid-title"><b>CRÉDITOS</b></h5>
      <hr class="hr-divisor" style="margin-top:0 !important;">
    </div>
  </div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="context-box">
			<table class="table table-bordered">
				<thead>
					<tr><th class="table-title col-md-6 text-center">Coordenação UNASUS - UFC</th><th class="table-title text-center col-md-6">Coordenação Executiva</th></tr>
				</thead>
				<tbody>
					<tr>
					<td class="text-center">Prof. Dr. Luiz Roberto de Oliveira</td>
					<td class="text-center">Esp. Raquel de Melo Rolim</td>
					</tr>
				</tbody>
				<thead>
					<tr><th class="table-title col-md-6 text-center">Coordenação Pedagógica</th><th class="table-title text-center col-md-6">Gerência de TI e Produção Didática</th></tr>
				</thead>
				<tbody>
					<tr>
					<td class="text-center">Prof. Dr. Luiz Roberto de Oliveira</td>
					<td class="text-center">Esp. Diego Rodrigues Tavares</td>
					</tr>
				</tbody>
				<thead>
					<tr><th class="table-title col-md-6 text-center" colspan="2">Autores do Módulo</th></tr>
				</thead>
				<tbody>
					<tr>
					<td class="text-center">Esp. Antônio Marcos de Almeida</td>
					<td class="text-center">Prof. Dr. Herling Gregorio Aguilar Alonzo</td>
					</tr>
					<tr>
					<td class="text-center">Gisella Garritano</td>
					<td class="text-center" style="vertical-align: middle;">Me. Lina Sandra Barreto Brasil</td>
					</tr>
					<tr>
					<td class="text-center">Me. Andrezza Graziela Veríssimo  Pontes</td>
					<td class="text-center">Me. Marcelo José Monteiro Ferreira</td>
					</tr>
				</tbody>
				<thead>
					<tr><th class="table-title col-md-6 text-center">Design Instrucional</th><th class="table-title text-center col-md-6">Administração AVA – Moodle</th></tr>
				</thead>
				<tbody>
					<tr>
					<td class="text-center">Me. Lina Sandra Barreto Brasil</td>
					<td class="text-center">Cleyson Carvalho Cândido</td>
					</tr>
				</tbody>
				<thead>
					<tr><th class="table-title col-md-6 text-center">Secretária Administrativa</th><th class="table-title text-center col-md-6">Programação Web</th></tr>
				</thead>
				<tbody>
					<tr>
					<td class="text-center">Fabíola Narciso de Medeiros</td>
					<td class="text-center">Luís Ednardo Façanha Wenceslau</td>
					</tr>
					<tr>
					<td class="text-center">Nalu Andrade Mota</td>
					<td class="text-center">Luís Diego Pereira Cavalcante</td>
					</tr>
					<tr>
					<td class="text-center">Sheila Ferreira Barbosa</td>
					<td class="text-center" style="vertical-align: middle;">Michele Guerreiro Cacais</td>
					</tr>
					<tr>
					<td class="text-center">Regina Claudia Macedo</td>
					<td class="text-center">William Nicolau Brasil Araújo</td>
					</tr>
				</tbody>
				<thead>
					<tr><th class="table-title col-md-6 text-center">Homologação do conteúdo</th><th class="table-title text-center col-md-6">Assistente de Designer Instrucional</th></tr>
				</thead>
				<tbody>
					<tr>
					<td class="text-center">Katia Souto - Coordenadora da Coordenação Geral de Apoio à Gestão Participativa e ao Controle Social/DAGEP/SGEP/MS.</td>
					<td class="text-center" style="vertical-align: middle;">Esp. Ana Josiele Ferreira Coutinho</td>
					</tr>
					<tr>
					<td class="text-center">Gisella Garritano - Analista-Técnico de Política Social do DAGEP</td>
					<td class="text-center" style="vertical-align: middle;">Esp. Maria Mirislene Vasconcelos Ferreira</td>
					</tr>
				</tbody>
				<thead>
					<tr><th class="table-title col-md-6 text-center">Design Gráfico</th><th class="table-title text-center col-md-6">Edição de vídeo</th></tr>
				</thead>
				<tbody>
					<tr>
					<td class="text-center">Alan Silva Oliveira dos Santos</td>
					<td class="text-center">André Luiz de Oliveira</td>
					</tr>
					<tr>
					<td class="text-center">Gabriela Ferreira Coutinho</td>
					<td class="text-center">Lucas Rafael Pinheiro Lopes</td>
					</tr>
					<tr>
					<td class="text-center">Rafael Medeiros Campos</td>
					<td class="text-center">Milício Custódio</td>
					</tr>
				</tbody>
				<thead>
					<tr><th class="table-title col-md-6 text-center">Colaboradores na área da saúde</th><th class="table-title text-center col-md-6">Apoio Técnico</th></tr>
				</thead>
				<tbody>
					<tr>
					<td class="text-center">Maria Eugenia de Camargo Julio</td>
					<td class="text-center">Rafael Soares</td>
					</tr>
				</tbody>
				<thead>
					<tr><th class="table-title col-md-6 text-center">Suporte Técnico e de AVA - Moodle</th><th class="table-title text-center col-md-6">Analista de Sistemas</th></tr>
				</thead>
				<tbody>
					<tr>
					<td class="text-center">André Luiz de Oliveira</td>
					<td class="text-center">Thiago Segato Antunes</td>
					</tr>
				</tbody>
				<thead>
					<tr><th class="table-title col-md-6 text-center">Assessoria de comunicação</th><th class="table-title text-center col-md-6">Tema musical</th></tr>
				</thead>
				<tbody>
					<tr>
					<td class="text-center">Paulo Jefferson Barreto</td>
					<td class="text-center">Marcos Mesquita</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>