<div ng-include src="getPartial()" ng-controller="includeController"></div>
<script>$(function(){$(window).on("hashchange",function(a){setLocationData(location.hash)}),window.location.hash&&$(window).trigger("hashchange");});</script>