<div class="col-md-12">
  <h4>Saúde das Populações do Campo, Floresta e Águas</h4>
  <p class="text-justify">O curso é destinado aos profissionais da área de saúde que atuam na atenção básica, com o objetivo de contribuir para o desenvolvimento de competências e habilidades dos profissionais que atuam com as populações do campo, da floresta e das águas, que lhes permitam incorporar as práticas de cuidado a saúde no seu processo de trabalho, considerando os determinantes sociais e ambientais com um olhar diferenciado e uma escuta qualificada, ampliando acesso, vínculo, acolhimento e estimulando a autonomia do usuário (a).</p>
  <hr class="hr-divisor">
  <div class="row" ng-repeat="unidade in unidades">
    <div class="col-md-2 text-center">
      <img src="{{unidade.imagem}}" alt="capa da {{unidade.label}}" class="img-circle img-unidade-status">
    </div>
    <div class="col-md-10 text-justify">
      <h3>{{unidade.label}} - {{unidade.nome}}</h3>
      <p>Objetivo: {{unidade.objetivo}}</p>
      <br>
      <div class="row">
        <div class="col-md-3">
          <a ng-href="{{unidade.url}}" class="btn btn-warning">Acessar essa unidade</a>
        </div>
      </div>
    </div>
    &nbsp;<br><br><hr>
  </div>
</div>